@model PhonebookManager.Models.PhoneLine

@{
    ViewData["Title"] = "Edit Phone Line | Phonebook Manager";
}

<script src="~/js/EditPhoneLine.js"></script>

<div class="list-container">

    <div class="d-flex justify-content-between">
        <h4>Details for <span id="phoneNo">@Model?.PhoneNumber</span></h4>
        @if (Model.LineUsers is not null && Model.LineUsers.Count > 0)
        {
            <h4>Landline device - Multi use</h4>
        }
        else
        {
            <h4>Landline device - Single line</h4>
        }
        <h4 style="color:#008A99">Allocated</h4>
    </div>
    <hr style="color:#000" />

    <br />
    <div class="d-flex gap-3">

        <p style="width: 15%; padding-top:5px;">Employee responsible:</p>
        @if (string.IsNullOrEmpty(Model?.LineOwner?.Name))
        {
            <input class="input-no-border-disabled" readonly style="width: 35%; height: 45px; text-align:center;" placeholder="N/A" />
        }
        else
        {
            <input class="input-no-border-disabled" asp-for="LineOwner.Name" readonly style="width: 35%; height: 45px;" />
        }
        @*<div style="position: relative; display: inline-block; width: 35%;">

            <span class="small-spinner" id="spinner" style="display:none;position: absolute;left: 10px; top: 15%;transform: translateY(-50%);"></span>
            <input type="text" id="searchLineOwnerInput" autocomplete="off" placeholder="Search for employee" />
            <i class="bi bi-x-lg" id="resetLineOwnerInput" role="button" style="display:none;position: absolute;right: 10px; top: 35%;transform: translateY(-50%);"></i>

        </div>
        <input type="hidden" id="lineOwnerId" value="">*@

        @*<select class="normal-select-box" asp-for="LineOwnerId" style="width: 35%;" id="selectOwner" onchange="ReverseOpacity()">
            <option value=""></option>
            @foreach (var user in Model.AppUsers ?? Enumerable.Empty<AppUser>())
            {
                <option value="@user.Id">@user.Name</option>
            }
        </select>*@

        <p style="width: 15%; padding-top: 5px;">Assigned department:</p>
        @if (string.IsNullOrEmpty(Model?.Department?.Name))
        {
            <input class="input-no-border-disabled" readonly style="width: 35%; height: 45px; text-align:center;" placeholder="N/A" />
        }
        else
        {
            <input class="input-no-border-disabled" asp-for="Department.Name" readonly style="width: 35%; height:45px;" />
        }
        @*<select class="normal-select-box" asp-for="Department" style="width: 35%;" id="selectDepartments">
            <option value=""></option>
            @foreach (var dep in Model.DepartmentList ?? Enumerable.Empty<Department>())
            {
                <option value="@dep.Id">@dep.Name</option>
            }
        </select>*@

    </div>

    <br />

    <div id="transparentDiv">
        <p>Active options: Vodafone Mobile, Telekom Mobile, Orange Mobile Data, Adrana Telecom</p>

        <br />

        <div class="d-flex justify-content-between w-100">
            <h4>Users</h4>
            <div class="d-flex w-50 gap-2 align-items-center">

                @*<input type="hidden" id="userId" name="IdExternalView" value="">
                <span style="width:20%;" id="addUserBtn">Add user:</span>

                <div style="position: relative; display: inline-block; width: 100%; margin-bottom: 10px;">
                    <span class="small-spinner" id="spinner" style="display:none;position: absolute;left: 10px; top: 30%;transform: translateY(-50%);"></span>
                    <input type="text" id="searchUserInput" autocomplete="off" placeholder="Search for user" />
                    <i class="bi bi-x-lg" id="resetUserInput" role="button" style="display:none; position: absolute;right: 10px; top: 53%;transform: translateY(-50%);"></i>

                </div>*@
            </div>
        </div>

        <br />

        <div style="max-height: 600px; overflow:auto">
            <table class="table" id="myTable">
                <thead class="sticky-top bg-white">
                    <tr>
                        <th scope="col">Employee ID</th>
                        <th scope="col">Employee name</th>
                        <th scope="col">Email</th>
                        <th scope="col">Type</th>
                        <th scope="col">Action</th>

                    </tr>
                </thead>
                <tbody>
                    @if (string.IsNullOrEmpty(Model?.LineOwner?.Name))
                    {
                        <tr class="border-0">
                            <td id="lineOwnerBadge">N/A</td>
                            <td id="lineOwnerName">N/A</td>
                            <td id="lineOwnerEmail">N/A</td>
                            <td></td>
                            <td></td>
                        </tr>
                    }
                    else
                    {
                        <tr class="border-0">
                            <td id="lineOwnerBadge">@Model?.LineOwner?.Badge</td>
                            <td id="lineOwnerName">@Model?.LineOwner?.Name</td>
                            <td id="lineOwnerEmail">@Model?.LineOwner?.Email</td>
                            <td>Main user</td>
                            <td><span class="action-btn-disabled"> <i class="bi bi-trash-fill"></i> </span></td>
                        </tr>
                    }



                    @if (Model.LineUsers is not null)
                    {
                        foreach (var line in Model.LineUsers)
                        {
                            <tr class="border-0">
                                <td>@line.Badge</td>
                                <td>@line.Name</td>
                                <td>@line.Email</td>
                                <td>Secondary user</td>
                                <td>
                                    <span class="action-btn-danger" role="button" onclick="NotImplemented()"> <i class="bi bi-trash-fill"></i> </span>
                                </td>
                            </tr>

                        }
                    }

                </tbody>
            </table>
        </div>
    </div>

    <br />
    <br />

    <div class="d-flex justify-content-between">
        <a class="btn btn-danger" asp-area="" asp-controller="Dashboard" asp-action="Index">Cancel</a>
        <div>
            @if (Model.Changes is null || Model.Changes.Count == 0)
            {
                <button class="btn btn-secondary" id="ownershipBtn" onclick="OpenModalChange(this)">Create request of ownership</button>
            }
            else
            {
                <button class="btn btn-secondary" id="ownershipBtn" onclick="OpenModalEditChange(this)">Edit request of ownership</button>
            }

        </div>

        <a class="btn btn-success" onclick="NotImplemented()">Save</a>
    </div>
</div>


<!-- Modal Change Ownership -->
<div class="modal fade" id="changeModal" tabindex="-1" aria-labelledby="changeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" style="max-width: 60%;">
        <div class="modal-content">
            <div class="modal-header" style="border-bottom: 1px solid #008A99;">
                <h4 id="changeModalLabelOne" class="d-block">Change of ownership request</h4>

                @*Hidden ->*@
                <h4 id="changeModalLabelTwo" class="d-none">Confirmation request</h4>
            </div>
            <div class="modal-body">
                <span id="infoText" phone-number="@ViewBag.PhoneNumber">You are about to submit a request to IT&C Department for a change of ownership on @ViewBag.PhoneNumber</span>

                <div style="padding: 80px 50px 20px 50px; display: flex; justify-content: center;">

                    <div id="modalRequestBox" class="d-flex" style="flex-direction: column;">
                        <div class="d-flex gap-2 justify-content-end align-items-center mb-5">
                            <h5>Old owner</h5>
                            <input class="input-no-border-disabled" id="oldOwner" style="width: 400px; height: 45px; text-align:center; color:#808080" value="@ViewBag.OldOwner" readonly/>
                        </div>
                        <div class="d-flex gap-2 justify-content-end align-items-center">
                            <h5>New owner</h5>
                            <div style="position: relative; display: inline-block; width: 400px;">

                                <span class="small-spinner" id="spinnerTwo" style="display:none;position: absolute;left: 10px; top: 25%;transform: translateY(-50%);"></span>
                                <input type="text" id="searchNewLineOwnerInput" autocomplete="off" placeholder="Search for employee" />
                                <i class="bi bi-x-lg" id="resetNewLineOwnerInput" role="button" style="display:none;position: absolute;right: 10px; top: 50%;transform: translateY(-50%);"></i>

                            </div>
                            <input type="hidden" id="lineOwnerId" value="">
                        </div>

                        <div style="display: flex; justify-content: center; margin-top:60px">
                            <button class="btn btn-danger me-5" @*data-bs-dismiss="modal"*@ onclick="Cancel()">Cancel</button>
                            <button class="btn btn-success" @*onclick="ChangeConfirm()"*@ onclick="ConfirmRequest()">Confirm</button>
                        </div>
                    </div>

                    @*Hidden ->*@
                    <div id="modalConfirmationBox" class="d-none" style="flex-direction: column; justify-content:center; text-align:center;">
                        <i class="bi bi-check-circle-fill" style="font-size:90px; color: forestgreen"></i>
                        <p>Your request has been sent to the IT&C Department for further processing!</p>
                    </div>

                </div>

            </div>
            <div class="modal-footer border-0">
                <button type="button" class="btn btn-secondary" @*data-bs-dismiss="modal"*@ onclick="Cancel()">Close</button>
            </div>
        </div>
    </div>
</div>


