@model IEnumerable<PhonebookManager.Models.PhoneLine>

@{
    ViewData["Title"] = "Dashboard | Phonebook Manager";
    //await Html.RenderPartialAsync("_ValidationScriptsPartial");
}
<script src="~/js/Dashboard.js"></script>


<div class="input-div">
    <input placeholder="All departments" style="width: 35%;" />
    <div style="position: relative; display: inline-block; width: 65%;">
        @if (Model.Count() == 1 && !string.IsNullOrEmpty(ViewBag.SearchText))
        {
            <i class="bi bi-x-lg" id="searchButton" role="button" style="position: absolute;right: 10px; top: 50%;transform: translateY(-50%);"></i>
        }
        else
        {
            <i class="bi bi-search" id="searchButton" role="button" style="position: absolute;right: 10px; top: 50%;transform: translateY(-50%);"></i>
        }
        <input type="text" id="searchInput" autocomplete="off" placeholder="Search by employee id, name or telephone number" />


    </div>
    <div class="dropdown">
        <button class="btn-dropdown dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
            Add new phone line
        </button>
        <ul class="dropdown-menu" style="z-index:9999;">
            <li><a class="dropdown-item" role="button" id="createAndAllocate" phone-number="@ViewBag.PhoneNumber" onclick="GotoPhoneUserPage(this)">Create and allocate</a></li>
            <li><a class="dropdown-item" role="button" onclick="AddQuickPhoneLine()">Quick add</a></li>
            <li><a class="dropdown-item" id="" role="button" onclick="ImportFunction(this)">Import phone lines</a></li>
        </ul>
    </div>

</div>

<div class="list-container">

    <div>
        <table class="table">
            <thead class="sticky-top bg-white">
                <tr>
                    <th scope="col">Employee name</th>
                    <th scope="col">Employee ID</th>
                    <th scope="col">Phone Line</th>
                    <th scope="col">Department name</th>
                    <th scope="col">Department code</th>
                    <th scope="col">Line type</th>
                    <th scope="col">Actions</th>

                </tr>
            </thead>
            <tbody>
                @if (Model is not null)
                {
                    foreach (var line in Model)
                    {
                        <tr class="border-0">
                            <td>@Html.DisplayFor(modelItem => line.LineOwner.Name)</td>
                            <td>@Html.DisplayFor(modelItem => line.LineOwner.Badge)</td>
                            <td>@Html.DisplayFor(modelItem => line.PhoneNumber)</td>
                            <td>@Html.DisplayFor(modelItem => line.Department.Name)</td>
                            <td>@Html.DisplayFor(modelItem => line.Department.Code)</td>
                            @if (line.LineUsers is not null && line.LineUsers.Count > 1)
                            {
                                <td>Multi use</td>
                            }
                            else
                            {
                                <td>Single line</td>
                            }
                            <td>
                                <span class="action-btn me-2" type="button">
                                    <i class="bi bi-eye-fill" @*onclick="viewFunction(this)"*@ onclick="notImplemented()"
                                       emp-name="=" emp-id="=" emp-department="="></i>
                                </span>
                                <span class="action-btn me-2" type="button">
                                    <i class="bi bi-pencil-fill" @*onclick="editFunction(this)"*@ onclick="notImplemented()"
                                       emp-name="=" emp-id="=" emp-department="="></i>
                                </span>

                                <span class="action-btn-danger me-2" type="button">
                                    <i class="bi bi-trash-fill" @*onclick="deleteFunction(this)"*@ onclick="notImplemented()"
                                       emp-name="" emp-id=""></i>
                                </span>
                            </td>

                        </tr>

                    }
                }

            </tbody>
        </table>
    </div>

</div>


<!-- Modal View -->
<div class="modal fade" id="viewModal" tabindex="-1" aria-labelledby="viewModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="viewModalLabel">Details</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <input id="mViewEmpName" class="mb-2" disabled />
                <input id="mViewEmpId" disabled />
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                @*<button type="button" class="btn btn-danger" id="viewBtn">Not needed</button>*@
            </div>
        </div>
    </div>
</div>


<!-- Modal Edit -->
<div class="modal fade" id="editModal" tabindex="-1" aria-labelledby="editModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="editModalLabel">Edit confirmation</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <input id="mEditEmpName" class="mb-2" />
                <input id="mEditEmpId" />
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-success" id="editBtn" onclick="closeEditModal()">Edit</button>
            </div>
        </div>
    </div>
</div>


<!-- Modal Delete -->
<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="deleteModalLabel">Delete confirmation</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <input id="mDelEmpName" class="mb-2" disabled />

                <input id="mDelEmpId" disabled />
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-danger" id="deleteBtn">Delete</button>
            </div>
        </div>
    </div>
</div>



<!-- Modal Import data -->
<div class="modal fade" id="importModal" tabindex="-1" aria-labelledby="importModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" style="max-width: 60%;">
        <div class="modal-content">
            <div class="modal-header border-0">
                <h2 class="" id="importModalLabel" style="color: #008A99; text-decoration: underline 2px; text-underline-offset: 0.5em; ">Import data</h2>
                @*<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>*@
            </div>
            <div class="modal-body">
                <div style="padding: 100px; display: flex; justify-content: center;">

                    <div style="display: flex; flex-direction: column; ">

                        <div class="d-flex gap-2 justify-content-end align-items-center mb-5">
                            <h5>Get our template</h5>
                            <button class="btn btn-success" style="width: 200px;" onclick="notImplemented()">Download template</button>
                        </div>
                        <div class="d-flex gap-2 justify-content-end align-items-center">
                            <h5>Import data</h5>
                            <button class="btn btn-secondary" style="width: 200px;" onclick="notImplemented()">Select file</button>
                        </div>
                    </div>

                </div>

            </div>
            <div class="modal-footer border-0 d-flex justify-content-center">
                <button type="button" class="btn btn-success" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>







