@model PhonebookManager.ViewModels.PhoneLineViewModel.PhoneLineVM
@{

    ViewData["Title"] = "Create and Allocate | Phonebook Manager";
}

<script src="~/js/PhoneUser.js"></script>


<div class="list-container">

    <div class="d-flex justify-content-between">
        @if (ViewBag.PhoneNumber != null)
        {
            <h4>Details for <span id="phoneNo">@ViewBag.PhoneNumber</span></h4>
        }
        <h4>New service</h4>
        <h4 style="color:#008A99">Unallocated</h4>
    </div>
    <hr style="color:#000" />

    <br />

    <div class="d-flex gap-3">

        <p style="width: 15%; padding-top:5px;">Employee responsible:</p>
        <div style="position: relative; display: inline-block; width: 35%;">
            <span class="small-spinner" id="spinner" style="display:none;position: absolute;left: 10px; top: 15%;transform: translateY(-50%);"></span>
            <input type="text" id="searchLineOwnerInput" autocomplete="off" placeholder="Search for employee" />
        </div>
        <input type="hidden" id="lineOwnerId" value="">

        @*<select class="normal-select-box" asp-for="LineOwnerId" style="width: 35%;" id="selectOwner" onchange="ReverseOpacity()">
                <option value=""></option>
                @foreach (var user in Model.AppUsers ?? Enumerable.Empty<AppUser>())
                {
                    <option value="@user.Id">@user.Name</option>
                }
            </select>*@

        <p style="width: 15%; padding-top: 5px;">Assigned department:</p>
        <select class="normal-select-box" asp-for="DepartmentId" style="width: 35%;" id="selectDepartments" onchange="ReverseOpacity()">
            <option value=""></option>
            @foreach (var dep in Model.Departments ?? Enumerable.Empty<Department>())
            {
                <option value="@dep.Id">@dep.Name</option>
            }
        </select>

    </div>

    <br />

    <div id="transparentDiv">
        <p>Active options: Vodafone Mobile, Telekom Mobile, Orange Mobile Data, Adrana Telecom</p>

        <br />

        <div class="d-flex justify-content-between w-100">
            <h4>Users</h4>
            <div class="d-flex w-50 gap-2">
                <div style="position: relative; display: inline-block; width: 100%; margin-bottom: 10px;">
                    <span class="small-spinner" id="spinner" style="display:none;position: absolute;left: 10px; top: 30%;transform: translateY(-50%);"></span>
                    <input type="text" id="searchUserInput" autocomplete="off" placeholder="Search for user" />
                </div>
                <input type="hidden" id="userId" name="IdExternalView" value="">
                <button class="btn btn-success" style="width:25%; height:45px;" onclick="NotImplemented()" id="addUserBtn">Add user</button>
            </div>
        </div>

        <br />

        <div style="max-height: 600px; overflow:auto">
            <table class="table" id="myTable">
                <thead class="sticky-top bg-white">
                    <tr>
                        <th scope="col">Employee ID</th>
                        <th scope="col">Employee name</th>
                        <th scope="col">Email</th>
                        <th scope="col">Type</th>
                        <th scope="col">Action</th>

                    </tr>
                </thead>
                <tbody>
                    @*<tr class="border-0">

                        <td id="lineOwnerBadge">@Model?.LineOwner?.Badge</td>
                        <td id="lineOwnerName">@Model?.LineOwner?.Name</td>
                        <td id="lineOwnerEmail">@Model?.LineOwner?.Email</td>
                        <td>Main user</td>
                        <td><span class="action-btn-disabled"> <i class="bi bi-trash-fill"></i> </span></td>

                    </tr>


                    @foreach (var line in Model?.LineUsers ?? Enumerable.Empty<PhoneUser>())
                    {
                        <tr class="border-0">
                            <td>@line.Badge</td>
                            <td>@line.Name</td>
                            <td>@line.Email</td>
                            <td>Secondary user</td>

                            <td>
                                <span class="action-btn-danger me-2" role="button" onclick="NotImplemented()"> <i class="bi bi-trash-fill"></i> </span>
                            </td>
                        </tr>

                    }*@

                </tbody>
            </table>
        </div>
    </div>

    <br />
    <br />

    <div class="d-flex justify-content-between">
        <a class="btn btn-danger" asp-area="" asp-controller="Dashboard" asp-action="Index">Cancel</a>
        <div>
            <button class="btn btn-secondary" id="ownershipBtn" onclick="OpenModalChange(this)">Create request of ownership</button>
        </div>

        <a class="btn btn-success" onclick="AllocateNumber()">Save</a>
    </div>
</div>


<!-- Modal Change Ownership -->
<div class="modal fade" id="changeModal" tabindex="-1" aria-labelledby="changeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" style="max-width: 60%;">
        <div class="modal-content">
            <div class="modal-header" style="border-bottom: 1px solid #008A99;">
                <h4 id="changeModalLabelOne" class="d-block">Change of ownership request</h4>

                @*Hidden ->*@
                <h4 id="changeModalLabelTwo" class="d-none">Confirmation request</h4>
            </div>
            <div class="modal-body">

                <div style="padding: 80px 50px 20px 50px; display: flex; justify-content: center;">

                    <div id="modalRequestBox" class="d-flex" style="flex-direction: column;">
                        <div class="d-flex gap-2 justify-content-end align-items-center mb-5">
                            <h5>Old owner</h5>
                            <input style="width: 400px;" />
                        </div>
                        <div class="d-flex gap-2 justify-content-end align-items-center">
                            <h5>New owner</h5>
                            <input style="width: 400px;" />
                        </div>

                        <div style="display: flex; justify-content: center; margin-top:60px">
                            <button class="btn btn-danger me-5" data-bs-dismiss="modal">Cancel</button>
                            <button class="btn btn-success" onclick="ChangeConfirm()">Confirm</button>
                        </div>
                    </div>

                    @*Hidden ->*@
                    <div id="modalConfirmationBox" class="d-none" style="flex-direction: column; justify-content:center; text-align:center;">
                        <i class="bi bi-check-circle-fill" style="font-size:90px; color: forestgreen"></i>
                        <p>Your request has been sent to the IT&C Department for further processing!</p>
                    </div>

                </div>

            </div>
            <div class="modal-footer border-0">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>





