
@{

    ViewData["Title"] = "Add phone user | Phonebook Manager";

    List<Employee> Employees = new List<Employee> {
           new Employee { FullName = "Lenny Castravete", EmployeeID = "9000", Department = "7213", Email="castravete@mmrmakita.eu" } ,
           new Employee { FullName = "Nicolae Cusca", EmployeeID = "9100", Department = "7321", Email="cusca@mmrmakita.eu" },
           new Employee { FullName = "Ion Bidon", EmployeeID = "9200", Department = "7201", Email="bidon@mmrmakita.eu" }
        };
    string show = "d-block";

}

<div class="list-container">

    <div class="d-flex justify-content-between">
        <h4>Details for 0721 234 567</h4>
        <h4>New service</h4>
        <h4 style="color:#008A99">Unallocated</h4>
    </div>
    <hr style="color:#000" />

    <br />

    <div class="d-flex gap-3">
        <p style="width: 15%; padding-top:5px;">Employee responsible:</p> <input style="width: 35%;" placeholder="Please select an employee" disabled />
        <p style="width: 15%; padding-top: 5px;">Assigned department:</p> <input style="width:35%;" placeholder="Please select a department" disabled />

    </div>

    <br />

    <div class="@show" style="opacity:1">
        <p>Active options: Vodafone Mobile, Telekom Mobile, Orange Mobile Data, Adrana Telecom</p>


        <br />

        <div class="d-flex justify-content-between w-100">
            <h4>Users</h4>
            <div class="d-flex w-50 gap-2">
                <input placeholder="Search for user" disabled /> <a class="btn btn-success" style="width:25%; line-height: 30px;" onclick="viewFunction(this)">Add user</a>
            </div>
        </div>

        <br />

        <div>
            <table class="table">
                <thead class="sticky-top bg-white">
                    <tr>
                        <th scope="col">Employee ID</th>
                        <th scope="col">Employee name</th>
                        <th scope="col">Email</th>
                        <th scope="col">Type</th>
                        <th scope="col">Action</th>

                    </tr>
                </thead>
                <tbody>
                    @foreach (var emp in Employees)
                    {
                        <tr class="border-0">
                            <td>@emp.EmployeeID</td>
                            <td>@emp.FullName</td>
                            <td>@emp.Email</td>
                            <td>Main user</td>
                            <td>
                                <span class="action-btn-danger me-2" type="button"> <i class="bi bi-trash-fill"></i> </span>
                            </td>

                        </tr>

                    }
                </tbody>
            </table>
        </div>
    </div>

    <br />
    <br />

    <div class="d-flex justify-content-between">
        <a class="btn btn-danger" asp-area="" asp-controller="Dashboard" asp-action="Index">Cancel</a>
        <div class="@show">
            <button class="btn btn-secondary" onclick="changeFunction(this)">Create request of ownership</button>
        </div>

        <a class="btn btn-success" onclick="viewFunction(this)">Save</a>
    </div>
</div>


<!-- Modal Change Ownership -->
<div class="modal fade" id="changeModal" tabindex="-1" aria-labelledby="changeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" style="max-width: 60%;">
        <div class="modal-content">
            <div class="modal-header border-0">
                <h2 class="" id="changeModalLabel" style="color: #008A99; text-decoration: underline 2px; text-underline-offset: 0.5em; ">Import data</h2>
                @*<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>*@
            </div>
            <div class="modal-body">
                <div style="padding: 80px 50px 80px 50px; display: flex; justify-content: center;">

                    <div style="display: flex; flex-direction: column; ">

                        <div class="d-flex gap-2 justify-content-end align-items-center mb-5">
                            <h5>Old owner</h5>
                            <input style="width: 400px;" />
                        </div>
                        <div class="d-flex gap-2 justify-content-end align-items-center">
                            <h5>New owner</h5>
                            <input style="width: 400px;" />
                        </div>
                    </div>
                </div>

                <div style="display: flex; justify-content: center;">
                    <button class="btn btn-danger me-5" data-bs-dismiss="modal">Cancel</button>
                    <button class="btn btn-success" onclick="closeChangeModal()">Confirm</button>
                </div>

            </div>
            <div class="modal-footer border-0">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>



<script>
    function viewFunction(clicked_id) {
        const button = clicked_id;
        var idproject = button.getAttribute("id-project");

        Toastify({
            text: "Not yet",
            duration: 3000,
            newWindow: true,
            close: true,
            gravity: "bottom", // `top` or `bottom`
            position: "left", // `left`, `center` or `right`
            stopOnFocus: true, // Prevents dismissing of toast on hover
            style: {
                background: "linear-gradient(to right, #008A99, #55B1BB)",
            },
        }).showToast();
    }



    function changeFunction(clicked_id) {


        $('#changeModal').modal('show');
    }
    // Close the import modal
    function closeChangeModal() {
        Toastify({
            text: "Not implemented",
            duration: 3000,
            newWindow: true,
            close: true,
            gravity: "bottom", // `top` or `bottom`
            position: "left", // `left`, `center` or `right`
            stopOnFocus: true, // Prevents dismissing of toast on hover
            style: {
                background: "linear-gradient(to right, red, #55B1BB)",
            },
        }).showToast();

        /* $('#importModal').modal('hide');*/
    }
</script>


