@*@model IEnumerable<PhonebookManager.Models.AppUser>*@
@model PhonebookManager.ViewModels.RoleAndUserViewModel.AppUserVM

@{
    ViewData["Title"] = "Add users | Phonebook Manager";

}

<script src="~/js/AppUsers.js"></script>



<div class="input-div">
    @*<select class="normal-select-box" style="width: 35%;" id="selectDepartment" viewbag-name="@ViewBag.DepartmentName">
            <option value="0">All departments</option>
            @foreach (var dep in Model.DepartmentList)
            {
                <option value="@dep.Name">@dep.Name</option>
            }
        </select>*@

    @*width: 65%;*@
    <div style="position: relative; display: inline-block; width: 100%;">
        @if (Model.AppUsersList.Count() >= 1 && !string.IsNullOrEmpty(ViewBag.SearchText))
        {
            <i class="bi bi-x-lg" id="searchButton" role="button" style="position: absolute;right: 10px; top: 50%;transform: translateY(-50%);"></i>
        }
        else
        {
            <i class="bi bi-search" id="searchButton" role="button" style="position: absolute;right: 10px; top: 50%;transform: translateY(-50%);"></i>
        }
        <input type="text" id="searchInput" autocomplete="off" placeholder="Search by employee id or name" />

    </div>
    <a class="btn btn-success" style="width: 100px; height: 45px; line-height: 30px;" data-bs-toggle="modal" data-bs-target="#addModal">Add user</a>

</div>

<div class="list-container">

    <div>
        <table class="table">
            <thead class="sticky-top bg-white">
                <tr>
                    <th scope="col">Employee name</th>
                    <th scope="col">Employee ID</th>
                    @*<th scope="col">Department name</th>
                        <th scope="col">Department code</th>*@
                    <th scope="col">Role</th>
                    <th scope="col">Actions</th>

                </tr>
            </thead>
            <tbody>
                @foreach (var user in Model.AppUsersList)
                {
                    <tr class="border-0">
                        <td>@user.Name</td>
                        <td>@user.BadgeNo</td>
                        <td>@user.Role.Role</td>
                        <td>
                            <span class="action-btn me-2" type="button">
                                <i class="bi bi-pencil-fill"
                                   user-Id="@user.Id"
                                   user-Name="@user.Name"
                                   user-BadgeNo="@user.BadgeNo"
                                   user-DepartmentName=""
                                   user-DepartmentCode=""
                                   user-Role-Role="@user.Role.Role"
                                   onclick="AppUserEditFunction(this)"></i>
                            </span>

                            <span class="action-btn-danger me-2" type="button">
                                <i class="bi bi-trash-fill"
                                   user-Id="@user.Id"
                                   user-Name="@user.Name"
                                   user-BadgeNo="@user.BadgeNo"
                                   user-DepartmentName=""
                                   user-DepartmentCode=""
                                   onclick="AppUserDeleteFunction(this)"></i>
                            </span>
                        </td>

                    </tr>

                }
            </tbody>
        </table>
    </div>

</div>


@*MODAL ADD USER *@
<div class="modal fade" id="addModal" tabindex="-1" aria-labelledby="addModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" style="max-width: 40%;">
        <div class="modal-content">
            <div class="modal-header border-0">
                <h2 class="" id="addModalLabel" style="color: #008A99; text-decoration: underline 2px; text-underline-offset: 0.5em;">Add user</h2>

            </div>
            <div class="modal-body" style="min-height: 160px;">
                @*<div style=" width: 100%; display: flex; justify-content: center;">*@
                <div style="position: relative; display: inline-block; width: 100%; margin-bottom: 10px;">

                    <span class="small-spinner" id="spinner" style="display:none;position: absolute;left: 10px; top: 30%;transform: translateY(-50%);"></span>
                    @*<i class="bi bi-search" id="searchUserButton" role="button" style="position: absolute;right: 10px; top: 50%;transform: translateY(-50%);"></i>*@
                    <input type="text" id="searchUserInput" autocomplete="off" placeholder="Search by employee id or name" style="height:70px;" />
                </div>
                <input type="hidden" id="userId" value="">

                <div id="formDiv" style="display:none;">
                    <form asp-action="Create">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="tall-input-box-disabled">
                            <label asp-for="Name" class="control-label"></label>
                            <input class="input-no-border-disabled" asp-for="Name" id="Name" readonly />
                        </div>
                        <div class="tall-input-box-disabled">
                            <label asp-for="EmployeeID" class="control-label">Badge number</label>
                            <input class="input-no-border-disabled" asp-for="EmployeeID" id="EmployeeID" readonly />
                        </div>
                        <div class="tall-input-box-disabled">
                            <label asp-for="AdIdentity" class="control-label">Username</label>
                            <input class="input-no-border-disabled" asp-for="AdIdentity" id="AdUsername" readonly />
                        </div>
                        <div class="tall-input-box-disabled">
                            <label asp-for="DepartmentCode" class="control-label">Department Code</label>
                            <input class="input-no-border-disabled" asp-for="DepartmentCode" id="DepartmentCode" readonly />
                        </div>
                        <input hidden asp-for="Email" id="Email" />

                        <div class="tall-input-box">
                            <div>
                                <label asp-for="RoleName" style="position: absolute;">Role</label>
                                <select class="large-select-box" asp-for="RoleName">
                                    @foreach (var role in Model.UserRolesList)
                                    {
                                        <option value="@role.Role">@role.Role</option>
                                    }
                                </select>
                            </div>
                        </div>

                        <br />
                        <div class="form-group w-100">
                            <input type="submit" value="Create" class="btn btn-success" style="width:80%;" />
                            <input role="button" class="btn btn-secondary" data-bs-dismiss="modal" style="width:19%;" Value="Close" />
                        </div>
                    </form>
                </div>


            </div>
            @*<div class="modal-footer border-0 d-flex">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>*@
        </div>
    </div>
</div>


@*MODAL EDIT USER *@
<div class="modal fade" id="editModal" tabindex="-1" aria-labelledby="editModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" style="max-width: 40%;">
        <div class="modal-content">
            <div class="modal-header border-0">
                <h2 class="" id="editModalLabel" style="color: #008A99; text-decoration: underline 2px; text-underline-offset: 0.5em; ">Edit user</h2>

            </div>
            <div class="modal-body">
                @*<div style=" width: 100%; display: flex; justify-content: center;">*@

                <input id="editModalUserId" hidden />

                <div class="tall-input-box-disabled">
                    <label asp-for="Name" class="control-label"></label>
                    <input class="input-no-border-disabled" asp-for="Name" id="editModalName" readonly/>
                </div>
                <div class="tall-input-box-disabled">
                    <label asp-for="BadgeNo" class="control-label">Badge number</label>
                    <input class="input-no-border-disabled" asp-for="BadgeNo" id="editModalBadgeNo" readonly/>
                </div>

                <div class="tall-input-box">
                    <div>
                        <label asp-for="RoleName" style="position: absolute;">Role</label>
                        <select class="large-select-box" asp-for="RoleName" id="editModalSelectBoxRole">
                            @foreach (var role in Model.UserRolesList)
                            {
                                @*<option value="@role.Value">@role.Value</option>*@
                                <option value="@role.Id">@role.Role</option>
                            }
                        </select>
                    </div>
                </div>

                <br />


                <div class="form-group w-100">
                    <input class="btn btn-success" style="width:80%;" id="editBtn" value="Edit" />
                    <input role="button" class="btn btn-secondary" data-bs-dismiss="modal" style="width:19%;" Value="Close" />
                </div>


            </div>
            @*<div class="modal-footer border-0 d-flex">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>*@
        </div>
    </div>
</div>


@*MODAL DELETE USER *@
<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" style="max-width: 40%;">
        <div class="modal-content">
            <div class="modal-header border-0">
                <h2 class="" id="deleteModalLabel" style="color: #008A99; text-decoration: underline 2px; text-underline-offset: 0.5em; ">Confirm deletion</h2>

            </div>
            <div class="modal-body">
                @*<div style=" width: 100%; display: flex; justify-content: center;">*@


                <form asp-action="Edit">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input id="delModalUserId" hidden />


                    <div class="tall-input-box-disabled">
                        <label asp-for="Name" class="control-label"></label>
                        <input class="input-no-border-disabled" asp-for="Name" id="delModalName" readonly />
                    </div>
                    <div class="tall-input-box-disabled">
                        <label asp-for="BadgeNo" class="control-label">Badge number</label>
                        <input class="input-no-border-disabled" asp-for="BadgeNo" id="delModalBadgeNo" readonly />
                    </div>
                    
                    <br />

                    <div class="form-group w-100">
                        <input class="btn btn-danger" style="width:80%;" id="deleteBtn" value="Delete" />
                        <input role="button" class="btn btn-secondary" data-bs-dismiss="modal" style="width:19%;" Value="Close" />
                    </div>
                </form>


            </div>
            @*<div class="modal-footer border-0 d-flex">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>*@
        </div>
    </div>
</div>


